.pad{
    padding-top: 15px
}

.cardPad{
    padding: 5px
}

.symClean{
    max-width: 120px;
    max-height: 120px;
    padding: 5px
}

.symTiny{
    max-width: 50px;
    max-height: 50px;
}

.border{
    border: black;
    border-style: groove;
    border-width: 2px;
}