.pad{
    padding-top: 15px
}

.bg {
    background-image: url("images/sculptorL.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }

 .bgGrey{
     background-color: rgb(245, 245, 245)
 }

 .btn-circle.btn-lg { 
    width: 50px; 
    height: 50px; 
    padding: 7px 3px; 
    border-radius: 24px; 
    font-size: 12px; 
    text-align: center; 
  } 

 .itembg{
     background-color: white;
}

.cardPad{
    padding: 1px
}

.pad{
    padding: 10px;
  }
  
.padtop{
    padding-top: 50px;
}

.threeX{
    max-width: 470px;
}

.padfoot{
    padding-top:100px;
}

.padtopH{
    padding-top: 150px;
}

.padHeading{
    padding-top: 10px;
    padding-left: 25px;
}

.padText{
    padding:15px;
}

.symClean{
    max-width: 120px;
    max-height: 120px;
    padding: 5px
}

.symTiny{
    max-width: 50px;
    max-height: 50px;
}

.shadow{
    shadow: 3px 3px gray
}

.border{
    border: black;
    border-style: groove;
    border-width: 2px;
}